/*font-family: 'Aleo',
serif;
font-family: 'Magra',
sans-serif;
font-family: 'Red Hat Text',
sans-serif;*/
/* background-image: url('');
background-repeat: no-repeat;
background-position: center 0;
в следующем блоке background-image: url('');
background-repeat: no-repeat;
background-position: center calc(-1 * высота хедера);*/
:root {
  --primary-color: #f2785c;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
header {
  position: relative;
  padding: 25px 120px;
  background: rgba(242, 120, 92, 0.7);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
  display: flex;
  justify-content: space-between;
  height: 90px;
  z-index: 2;
}
.logo {
  width: 30px;
  height: 30px;
}
.logo_text {
  font-family: "Magra";
  font-weight: 600;
  font-size: 32px;
  color: #ffffff;
}
.menu {
  margin-top: 10px;
  display: flex;
  gap: 42px;
}
.menu_item {
  list-style-type: none;
}

.menu_link {
  font-family: "Red Hat Text";
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}
.menu_link:hover {
  text-decoration: underline;
  color: #0d606f;
}
.menu_btn {
  width: 103px;
  height: 41px;
  background: #0d606f;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  border: none;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  transition: all 100ms ease-in-out;
}
.menu_btn:hover,
.preview_btn:hover {
  cursor: pointer;
  color: #0d606f;
  background: #ffffff;
}
.humburger {
  display: none;
}
.preview {
  min-height: 765px;
  padding-top: 122px;
  padding-left: 120px;
  background: url(../img/display/bacground_first.jpg) center center/cover
    no-repeat;
  transform: translateY(-90px);
  z-index: 1;
}
.preview_title {
  width: 892px;
  font-family: "Aleo";
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  color: #ffffff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.preview_subtitle {
  margin-top: 44px;
  font-family: "Aleo";
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
.preview_search {
  margin-top: 46px;
  width: 892px;
  height: 95px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.7);
  border: none;
}
.preview_search::placeholder {
  padding-left: 41px;
  font-family: "Aleo";
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: var(--primary-color);
}
.preview_btn {
  padding: 10px 32px;
  background: #0d606f;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08),
    0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  width: 228px;
  height: 59px;
  margin-left: -246px;
  border: none;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
  transition: all 100ms ease-in-out;
}
.steps {
  padding: 0 132px 0 131px;
}
.title {
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  color: var(--primary-color);
  text-align: center;
}
.steps_container {
  display: flex;
  justify-content: space-between;
}
.steps_wrapper {
  width: 317px;
  text-align: center;
}
.steps_background_img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background: var(--primary-color);
}
.steps_descr {
  margin-top: 30px;
  font-family: "Aleo";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0d606f;
}
.destinations {
  padding-top: 97px;
}
.destinations_img {
  width: 800px;
  height: 800px;
  background: url(../img/display/slider_1b.jpg) center center/cover;
}
.destinations_slider {
  /* width: 100vw; */
  display: flex;
  justify-content: center;
  overflow: hidden;
  gap: 60px;
}
.destinations_wrapper_img {
  margin-top: 46px;
  /* margin-left: 60px; */
  position: relative;
}
.destinations_img {
  border-radius: 16px;
}
.destinations_img_desc {
  position: absolute;
  left: 15px;
  bottom: 40px;
  font-family: "Red Hat Text";
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  color: #ffffff;
}
.wrapper_circle {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.destinations_circle {
  margin-top: 24px;
  width: 20px;
  height: 20px;
  background: var(--primary-color);
  border-radius: 100%;
}

.destinations_btn {
  position: relative;
  display: block;
  margin: 40px auto 0;
  background: #0d606f;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08),
    0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  width: 228px;
  height: 59px;
  padding: 10px 32px;
  gap: 10px;
  border: none;
  font-family: "Red Hat Text";
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  transition: all 100ms ease-in-out;
}
.destinations_btn:before {
  content: url("/img/display/bi_arrow-right.svg");
  height: 4px;
  float: left;
  margin: -4px 17px 1px -12px;
}
.destinations_btn:hover {
  cursor: pointer;
  opacity: 0.8;
}
.stories .title {
  margin-top: 80px;
}
.stories_wrapper {
  min-height: 1320px;
  padding-bottom: 61px;
  background: url(../img/display/back_seconD.jpg) center center/cover;
  position: relative;
  transform: translateY(61px);
  z-index: 1;
}
.stories_wrapper_white {
  background: rgba(255, 255, 255, 0.7);
  padding: 10px 120px 41px 111px;
}

.stories_block {
  display: flex;
  margin-top: 30px;
}
.aricle_img {
  width: 400px;
  height: 250px;
  border-radius: 16px;
  filter: drop-shadow(0px 4px 4px #0d606f);
}
.article_stories {
  margin-left: 40px;
}
.article_title {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  color: #0d606f;
}
.article_main {
  margin-top: 24px;
  font-family: "Aleo";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0d606f;
}
.article_link {
  font-weight: bold;
}
footer {
  padding: 13px 120px 13px 260px;
  position: relative;
  min-height: 61px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
.footer > div:nth-child(1) {
  order: 1;
}

.footer > div:nth-child(2) {
  order: 5;
}
.footer > div:nth-child(3) {
  order: 3;
}
.footer_article {
  font-family: "Red Hat Text";
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}
.footer_social {
  display: flex;
}
.footer_social .social_item {
  list-style-type: none;
  margin-left: 20px;
  transition: 100ms ease-in-out;
}
.footer_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_img {
  padding: 3px;
  width: 33.65px;
  height: 33.65px;
}
.social_item:hover {
  background: #0b515c;
  border-radius: 20%;
}
@media (min-width: 700px) and (max-width: 900px) {
  .container {
    max-width: 900px;
  }
  header {
    padding: 25px 50px;
  }
  .logo {
    width: 40px;
    height: 40px;
  }
  .logo_text {
    display: none;
  }
  .menu {
    margin-top: 5px;
    gap: 22px;
  }
  .menu_link {
    font-size: 14px;
  }
  .preview {
    min-height: 665px;
    padding-left: 50px;
  }
  .preview_title {
    width: 90%;
    font-size: 70px;
  }
  .preview_subtitle {
    font-size: 15px;
  }
  .preview_search {
    width: 80%;
    height: 70px;
  }
  .preview_search::placeholder {
    padding-left: 21px;
    font-size: 18px;
  }
  .preview_btn {
    padding: 8px 18px;
    width: 178px;
    height: 40px;
    font-size: 18px;
    margin-left: -206px;
  }
  .steps {
    padding: 0 50px;
  }
  .title {
    font-size: 30px;
  }
  .steps_descr {
    font-size: 15px;
  }
  .destinations_img {
    width: 500px;
    height: 500px;
  }
  .stories_wrapper_white {
    padding: 10px 50px 41px 50px;
  }
  .stories_block {
    margin-top: 20px;
    align-items: center;
  }
  .aricle_img {
    width: 300px;
    height: 187.5px;
  }
  .article_stories {
    margin-left: 20px;
  }
  .article_title {
    font-size: 24px;
  }
  .article_main {
    margin-top: 10px;
    font-size: 15px;
  }
  footer {
    padding: 13px 50px 13px 210px;
  }
}
@media (min-width: 391px) and (max-width: 699px) {
  .container {
    max-width: 500px;
  }
}
@media (max-width: 390px) {
  .container {
    max-width: 390px;
  }
  body {
    position: relative;
  }
  header {
    position: absolute;
    width: 100%;
    min-height: 75px;
    padding: 43px 16px 0 16px;
    background: none;
    box-shadow: none;
    display: block;
  }
  .logo_text {
    display: none;
  }
  .menu {
    display: none;
  }
  .menu_btn {
    display: none;
  }
  .logo_wraper {
    position: relative;
  }
  .humburger {
    margin-top: 8px;
    display: block;
    position: absolute;
    top: 0;
    right: 4px;
    width: 35px;
    height: 32px;
  }
  .humburger span {
    display: block;
    width: 26.25px;
    height: 2.67px;
    margin-bottom: 4px;
    background-color: rgba(255, 255, 255, 1);
  }
  .humburger_active span {
    margin-bottom: -2px;
  }
  .humburger_active span:nth-child(1) {
    transform: translateY(3px) rotate(-45deg);
  }
  .humburger_active span:nth-child(2) {
    display: none;
  }
  .humburger_active span:nth-child(3) {
    transform: translateY(3px) rotate(45deg);
  }
  .preview {
    padding: 142px 15px 61px 15px;
    min-height: 251px;
    transform: none;
    background: linear-gradient(180deg, #0d606f 0%, rgba(13, 96, 111, 0) 25.1%),
      url(../img/mobile/back_mobilef.jpg) center center/cover no-repeat;
  }
  .preview_title {
    display: none;
  }
  .preview_subtitle {
    display: none;
  }
  .preview_search {
    margin-top: 0;
    width: 360px;
    height: 48px;
  }
  .preview_search::placeholder {
    padding-left: 17px;
    font-size: 14px;
    line-height: 17px;
  }
  .preview_btn {
    padding: 0;
    width: 92px;
    height: 30px;
    margin-left: 0;
    font-size: 11px;
  }
  .steps {
    padding: 0 15px;
  }
  .title {
    font-size: 14px;
  }

  .steps_background_img {
    margin-top: 20px;
    width: 70px;
    height: 70px;
  }
}
